.Wrapper {
    margin-top: 2rem;
    padding-right: 1rem;
}

.OfferCard {
    width: 20rem;
    height: 11rem;
    border: 1px solid #282b2f;
    margin-bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.Title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}

.Description {
    font-size: 1.1rem;
}

.Placeholder {
    flex: 1;
}

.Additional {
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Additional>span {
    color: #8a919e !important;
    font-size: 1rem;
}